*{
    margin:0;
    padding:0;
}

#container
{
    display: flex;
    background-color: #242B2E;
}

#leftPanel
{
    display: flex;
    flex-direction: column;
    min-width:15vw;
    text-align: center;
    gap:20px;
    height:100vh;
    background-color: #F4BE2C;
    padding: 10px;
}

#leftPanelTitle,#addProject
{
    height:max-content
}

#defaultProjects
{
    height:30vh;
}

#generatedProjects
{
    height:50vh;
}

.btn
{
    border-radius: 100px;
}

.projBtn
{
    cursor: pointer;
}

#rightPanel
{
    display: flex;
    flex-direction: column;
    width:80vw;
}

#addTask
{
    text-align: center;
}

.sidebarProject
{
    margin-top:18px ;
}

#viewToday,#viewTomorrow, #viewImportant, .generatedView
{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-left: 10px;

}

.mainTask
{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 10px;
}

.sidebarProject
{
    cursor: pointer;
}

ul
{
    text-decoration: none;
    list-style: none;
}

li
{
    margin-top: 18px;
}
.popUpProject
{
    border: 2px solid black;
    width: 20vw;
    height: 20vh;
    margin-right: 420px;
    margin-top:220px;
    background-color: #F4BE2C;
    padding: 20px;
}

#submitPopUp
{
    margin-left: 75px;
    margin-top: 30px;
}

