*{
    margin:0;
    padding:0;
}

#container
{
    display: flex;
    background-color: #242B2E;
}

#leftPanel
{
    display: flex;
    flex-direction: column;
    width:30vw;
    text-align: center;
    gap:20px;
    height:100vh;
    background-color: #F4BE2C;
    padding: 10px;
}

#leftPanelTitle,#addProject
{
    height:max-content
}

#defaultProjects
{
    height:30vh;
}

#generatedProjects
{
    height:50vh;
}

.btn
{
    border-radius: 100px;
}

.projBtn
{
    cursor: pointer;
}

#rightPanel
{
    display: flex;
    flex-direction: column;
    width:70vw;
}

#addTask
{
    text-align: center;
}

.sidebarProject
{
    margin-top:18px ;
}

#viewToday
{
    display: flex;
    flex-direction: column;
}

.mainTask
{
    display: flex;
    justify-content: space-between;
}

.sidebarProject
{
    cursor: pointer;
}

ul
{
    text-decoration: none;
    list-style: none;
}

li
{
    margin-top: 18px;
}
