body
{
    margin: 0;
    padding: 0;
    background-color:rgb(52, 47, 47);
    color:aliceblue;

}

#container
{
    display: flex;
}

#leftPanel
{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: rgb(115, 172, 204);
    border-right: 4px solid black;
}

.defaultProjects, #generatedProject
{
    width:20vw;
    max-height:50vh;
    text-align: center;
    padding:10px;
}



.defaultBtn
{
    height:60vh;
    width: 20vw;
    padding:10px;
    text-align: center;

}

.btn
{
    cursor: pointer;
    border: 2px solid burlywood;
    background-color:cornflowerblue;
}

.projBtn
{
    cursor: pointer;
    background-color: rgb(101, 188, 14);
    border-radius: 10px;
    width: 50%;
    margin-left: 5vw;
    margin-top: 2vh;
    text-align: center;
}

.inputProj
{
    gap:10px;
    margin-top: 2vh;
    width: 15vw;
    align-items: center;
    margin-left: 2vw;
}

.inputSubmit ,.inputClose
{
    margin-top: 1vh;
    border-radius: 10px;
    background-color: greenyellow;
}

#priority,.inputDate
{
    margin-top: 1vh;
}

.defaultAddBtn
{
    text-align: center;
}